
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

/* CONTEUDO */

.conteudo {
  text-align: center;
  margin-top: 10%;
  margin-left: 20%;
}

.ng-scope {
    z-index: 1000;
    position: fixed;
    left: 15%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    overflow-y: auto;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

/* NAVBAR */

.navbar-cor {
    background-color: #1b98e0;
}

.logo-small {
  font-size:12px;
}

.logo-large {
  font-size: 30px;
  line-height: 100%;
}
.nav-item {
  font-size: 18px;
}

.toplink {
  color: white !important;
}

.sidelink {
  color: #1b98e0 !important;
}

.toplink:hover{
  background-color: #82c6ee;
  border-radius: 8px;
}
.modulo-escolhido {
  background-color: #59b4e8;
  border-radius: 8px;
}

/* SIDEBAR */

#wrapper {
    padding-left: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

@media (min-width: 992px) {
    #wrapper {
        padding-left: 225px;
    }
}

@media (min-width: 992px) {
    #wrapper #sidebar-wrapper {
        width: 225px;
    }
}

#sidebar-wrapper {
    border-right: 1px solid #e7e7e7;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 225px;
    width: 0;
    height: 100%;
    margin-left: -225px;
    overflow-y: auto;
    background: #d5ecf9;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#sidebar-wrapper .sidebar-nav {
    position: absolute;
    top: 0;
    width: 225px;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar-wrapper .sidebar-nav li {
    text-indent: 0;
    line-height: 45px;
}

@media (min-width: 992px) {
    #sidebar-wrapper .sidebar-nav li {
        text-indent: 0;
        line-height: 80px;
    }
}

#sidebar-wrapper .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #428bca;
}


#sidebar-wrapper .sidebar-nav li a .sidebar-icon {
    width: 45px;
    height: 45px;
    font-size: 14px;
    padding: 0 2px;
    display: inline-block;
    text-indent: 7px;
    margin-right: 10px;
    color: #fff;
    float: left;
}

#sidebar-wrapper .sidebar-nav li a .caret {
  position: absolute;
  right: 23px;
  top: auto;
  margin-top: 20px;
}

@media (max-width: 992px) {
    #wrapper #sidebar-wrapper {
        width: 45px;
    }
}

.sidebar-nav li:first-child a {
    background: #97d0f0 !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(2) a {
    background: #59b4e8 !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(3) a {
    background: #1b98e0 !important;
    color: #fff !important;
}

