

.logo-small {
  font-size:12px;
}

.logo-large {
  font-size: 30px;
  line-height: 100%;
}

.container-fluid{
  width: 90%;
  
}
.col-sm-12, .col-md-6, .col-lg-3 {
  padding: 1rem;
}


.caixa {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 12rem;
  word-break: keep-all;
  text-align: center;
  font-size: 1rem;
  color: white;
}

.nome-botao {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  line-height: 2rem;
}

.navbar {
  background-color: #005ca1;
}


a {
  color: white;
}

a:hover {
  color: #ffffff;
}

@media (min-width: 992px) {
  #navbarSupportedContent {
    display: initial !important;
  }
  
  #search-button {
    float: right;
  }
  
  .row {
    margin-top: 15%;
  }
  
}



