
body {
  padding-top: 4.5rem;
}

/* CONTEUDO */

.ng-scope {
    z-index: 1000;
    left: 15%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    overflow-y: auto;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

/* NAVBAR */
.navbar-cor {
    background-color: #6b6d76;
}

.logo-small {
  font-size:12px;
}

.logo-large {
  font-size: 30px;
  line-height: 100%;
}
.nav-item {
  font-size: 18px;
}

.toplink {
  color: white !important;
}

.toplink:hover{
  background-color: #aeafb4;
  border-radius: 8px;
}
.modulo-escolhido {
  background-color: #93949b;
  border-radius: 8px;
}


/* SIDEBAR */

.btn-warning {
    display: none;
    background-color: #a0a2a7;
    padding: .5rem 0rem;
    width: 40px;
    border-color: #a0a2a7;
}

.btn-warning:hover {
    background-color: #62646c;
    border-color: #a0a2a7;
}

.btn-warning:focus{
    box-shadow: 0;
}

.container-fluid {
    padding-left: 45px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

@media (min-width: 992px) {
    .container-fluid {
        padding-left: 225px;
    }
}

@media (min-width: 992px) {
    .container-fluid #sidebar-wrapper {
        width: 225px;
    }
}

#sidebar-wrapper {
    border-right: 1px solid #e7e7e7;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 225px;
    width: 0;
    height: 100%;
    margin-left: -225px;
    overflow-y: auto;
    background: #e4e4e6;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

#sidebar-wrapper .sidebar-nav {
    position: absolute;
    top: 0;
    width: 225px;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar-wrapper .sidebar-nav li {
    text-indent: 0;
    line-height: 45px;
}

@media (min-width: 992px) {
    #sidebar-wrapper .sidebar-nav li {
        text-indent: 0;
        line-height: 80px;
    }
}

#sidebar-wrapper .sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #428bca;
}

.sidebar-nav li:first-child a {
    background: #92bce0 !important;
    color: #fff !important;
}

#sidebar-wrapper .sidebar-nav li a .sidebar-icon {
    width: 45px;
    height: 45px;
    font-size: 14px;
    padding: 0 2px;
    display: inline-block;
    text-indent: 7px;
    margin-right: 1px;
    color: #fff;
    float: left;
}

#sidebar-wrapper .sidebar-nav li a .caret {
  position: absolute;
  right: 23px;
  top: auto;
  margin-top: 20px;
}

@media (max-width: 992px) {
    .container-fluid #sidebar-wrapper {
        width: 45px;
    }
    
    .btn-warning {
        display: inline;
    }
}

.sidebar-nav li:first-child a {
    background: #bbbcc0 !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(2) a {
    background: #a0a2a7 !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(3) a {
    background: #85878e !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(4) a {
    background: #6b6d76 !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(5) a {
    background: #62646C !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(6) a {
    background: #4E5056 !important;
    color: #fff !important;
}

.sidebar-nav li:nth-child(7) a {
    background: #3B3C41 !important;
    color: #fff !important;
}

.sidebar-nav li a:hover {
    background: #fff !important;
    color: #6b6d76 !important;
}

.sidebar-nav li a:hover .sidebar-icon {
    color: #6b6d76 !important;
}

.tabela tr th{
    width: 30em;
    height: 3em;
    border: 1px solid #DBDFE2;
    padding: 1em;
}

.tabela tr th:nth-child(2),
.tabela tr th:nth-child(3){
     width: 1em;
}

.tabela tr:nth-child(1){
    background-color: #39444E;
    color: #A7ACB0;
}

.tabela tr:nth-child(2n+0){
    background-color: #E4EEF3;
}
