
body {
  padding-top: 4.5rem;
}


/* NAVBAR */

.navbar-cor {
  background-color: black;
}

.logo-small {
font-size:12px;
}

.logo-large {
font-size: 30px;
line-height: 100%;
}
.nav-item {
font-size: 18px;
}

.nav-link {
color: #fff !important;
}

.nav-link:hover{
background-color: #404446;
border-radius: 8px;
}
