
body {
  padding-top: 4.5rem;
}


/* NAVBAR */

.navbar-cor {
    background-color: #005ca1;
}

.logo-small {
  font-size:12px;
}

.logo-large {
  font-size: 30px;
  line-height: 100%;
}
.nav-item {
  font-size: 18px;
}

.toplink {
  color: white !important;
}

.toplink:hover{
  background-color: #4588ba;
  border-radius: 8px;
}

#search-results {
  display: inline-block;
  padding-top: 2rem;
}


