<!doctype html>
<html ng-app="index">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		


   		 <!-- Bootstrap CSS -->

    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>

   		 <!-- Angular -->
   		 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
   		 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>


		<script src="../main.js"></script>
		<link rel="stylesheet" href="fluxograma.css">
		<script src="fluxograma-controller.js"></script>		
</head>
<body ng-controller="FluxogramaController">
		
	<div class="container-fluid fluxograma-dependencias">

		<!-- primeiro período -->
		<div class="painel-dependencias">
			<div class="panel panel-default titulos-dependencias">
			  <div class="panel-footer titulo-periodo">
			    Primeiro
			  </div>
			</div>

			<div ng-repeat="fluxograma in fluxogramas1"  tabindex="-1" ng-blur="blur()" ng-click="obterDependencias(fluxograma)" class="panel panel-default">
			  <div class="panel-footer painel-individual quebra-linha link_holder" ng-class="{'classe-dependencias': fluxograma.dependenciaAcionada, 'sem-dependencias': !fluxograma.dependenciaAcionada, 'selecionado': fluxograma.opcaoSelecionada}"> 
			     <p class="fonte-painel">{{fluxograma.titulo}}</p>
			     <a href="{{fluxograma.link}}" target="_blank">Disciplina</a>
			  </div>
			</div>
		</div>

		<!-- segundo período -->
		<div class="painel-dependencias">
			<div class="panel panel-default titulos-dependencias">
			  <div class="panel-footer titulo-periodo">
			    Segundo
			  </div>
			</div>

			<div ng-repeat="fluxograma in fluxogramas2" class="panel panel-default" tabindex="-1" ng-blur="blur()" ng-click="obterDependencias(fluxograma)">
			  <div class="panel-footer painel-individual quebra-linha link_holder" ng-class="{'classe-dependencias': fluxograma.dependenciaAcionada, 'sem-dependencias': !fluxograma.dependenciaAcionada, 'selecionado': fluxograma.opcaoSelecionada}">
			    <p class="fonte-painel">{{fluxograma.titulo}}</p>
			    <a href="{{fluxograma.link}}" target="_blank">Disciplina</a>
			  </div>
			</div>
		</div>

		<!-- terceiro período -->
		<div class="painel-dependencias">
			<div class="panel panel-default titulos-dependencias">
			  <div class="panel-footer titulo-periodo">
			    Terceiro
			  </div>
			</div>

			<div ng-repeat="fluxograma in fluxogramas3" tabindex="-1" ng-blur="blur()" ng-click="obterDependencias(fluxograma)" class="panel panel-default">
			  <div class="panel-footer painel-individual quebra-linha link_holder" ng-class="{'classe-dependencias': fluxograma.dependenciaAcionada, 'sem-dependencias': !fluxograma.dependenciaAcionada, 'selecionado': fluxograma.opcaoSelecionada}">
			    <p class="fonte-painel">{{fluxograma.titulo}}</p>
			    <a href="{{fluxograma.link}}" target="_blank">Disciplina</a>
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-heading painel-individual" data-toggle="collapse" data-target="#optativa1"  aria-expanded="false" ng-class="{'optativa-dependencia': optativaAcionada, 'optativa-sem-dependencia': !optativaAcionada}">
				  <h3 class="panel-title heading-optativas quebra-linha">Optativa1</h3>  
				  <ul class="list-group lista-optativas collapse" id="optativa1">
				  	<li ng-repeat="optativa in optativas1" tabindex="-1" ng-blur="blur()" class="list-group-item fonte-painel quebra-linha link_holder" ng-class="{'classe-dependencias': optativa.dependenciaAcionada, 'sem-dependencias': !optativa.dependenciaAcionada, 'selecionado': fluxograma.opcaoSelecionada}" ng-click="obterDependenciasOptativas(optativa, $event)">{{optativa.titulo}}
				  	<a href="{{optativa.link}}" target="_blank">Disciplina</a></li>
				  </ul>
				</div>
			</div> 
		</div>

		<!-- quarto período -->
		<div class="painel-dependencias">
			<div class="panel panel-default titulos-dependencias">
			  <div class="panel-footer titulo-periodo">
			    Quarto
			  </div>
			</div>

			<div ng-repeat="fluxograma in fluxogramas4" class="panel panel-default" tabindex="-1" ng-blur="blur()" ng-click="obterDependencias(fluxograma)">
			  <div class="panel-footer painel-individual quebra-linha link_holder" ng-class="{'classe-dependencias': fluxograma.dependenciaAcionada, 'sem-dependencias': !fluxograma.dependenciaAcionada, 'selecionado': fluxograma.opcaoSelecionada}">
			    <p class="fonte-painel">{{fluxograma.titulo}}</p>
			    <a href="{{fluxograma.link}}" target="_blank">Disciplina</a>
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-heading painel-individual" data-toggle="collapse" data-target="#optativa2" aria-expanded="false" ng-class="{'optativa-dependencia': optativaAcionada2, 'optativa-sem-dependencia': !optativaAcionada2}">
				  <h3 class="panel-title heading-optativas quebra-linha" >Optativa2</h3>  
				  <ul class="list-group lista-optativas collapse" id="optativa2">
				  	<li ng-repeat="optativa in optativas1" tabindex="-1" ng-blur="blur()" class="list-group-item fonte-painel quebra-linha link_holder" ng-class="{'classe-dependencias': optativa.dependenciaAcionada, 'sem-dependencias': !optativa.dependenciaAcionada, 'selecionado': fluxograma.opcaoSelecionada}" ng-click="obterDependenciasOptativas(optativa, $event)">{{optativa.titulo}}
				  	<a href="{{optativa.link}}" target="_blank">Disciplina</a></li>
				  </ul>
				</div>
			</div>
		</div>

		<!-- quinto período -->
		<div class="painel-dependencias">
			<div class="panel panel-default titulos-dependencias">
			  <div class="panel-footer titulo-periodo">
			    Quinto
			  </div>
			</div>

			<div ng-repeat="fluxograma in fluxogramas5" class="panel panel-default" tabindex="-1" ng-blur="blur()" ng-click="obterDependencias(fluxograma)">
			  <div class="panel-footer painel-individual quebra-linha link_holder" ng-class="{'classe-dependencias': fluxograma.dependenciaAcionada, 'sem-dependencias': !fluxograma.dependenciaAcionada, 'selecionado': fluxograma.opcaoSelecionada}">
			    <p class="fonte-painel">{{fluxograma.titulo}}</p>
			    <a href="{{fluxograma.link}}" target="_blank">Disciplina</a>
			  </div>
			</div>
		</div>

		<!-- sexto período -->
		<div class="painel-dependencias">
			<div class="panel panel-default titulos-dependencias">
			  <div class="panel-footer titulo-periodo">
			    Sexto
			  </div>
			</div>

			<div ng-repeat="fluxograma in fluxogramas6" class="panel panel-default" tabindex="-1" ng-blur="blur()" ng-click="obterDependencias(fluxograma)">
			  <div class="panel-footer painel-individual quebra-linha link_holder" ng-class="{'classe-dependencias': fluxograma.dependenciaAcionada, 'sem-dependencias': !fluxograma.dependenciaAcionada, 'selecionado': fluxograma.opcaoSelecionada}">
			    <p class="fonte-painel">{{fluxograma.titulo}}</p>
			    <a href="{{fluxograma.link}}" target="_blank">Disciplina</a>
			  </div>
			</div>
		</div>

		<!-- sétimo período -->
		<div class="painel-dependencias">
			<div class="panel panel-default titulos-dependencias">
			  <div class="panel-footer titulo-periodo">
			    Sétimo
			  </div>
			</div>

			<div ng-repeat="fluxograma in fluxogramas7" class="panel panel-default" tabindex="-1" ng-blur="blur()" ng-click="obterDependencias(fluxograma)">
			  <div class="panel-footer painel-individual quebra-linha link_holder" ng-class="{'classe-dependencias': fluxograma.dependenciaAcionada, 'sem-dependencias': !fluxograma.dependenciaAcionada, 'selecionado': fluxograma.opcaoSelecionada}">
			    <p class="fonte-painel">{{fluxograma.titulo}}</p>
			    <a href="{{fluxograma.link}}" target="_blank">Disciplina</a>
			  </div>
			</div>
		</div>

		<!-- oitavo período -->
		<div class="painel-dependencias">
			<div class="panel panel-default titulos-dependencias">
			  <div class="panel-footer titulo-periodo">
			    Oitavo
			  </div>
			</div>

			<div ng-repeat="fluxograma in fluxogramas8" class="panel panel-default" tabindex="-1" ng-blur="blur()" ng-click="obterDependencias(fluxograma)">
			  <div class="panel-footer painel-individual quebra-linha link_holder" ng-class="{'classe-dependencias': fluxograma.dependenciaAcionada, 'sem-dependencias': !fluxograma.dependenciaAcionada, 'selecionado': fluxograma.opcaoSelecionada}">
			    <p class="fonte-painel">{{fluxograma.titulo}}</p>
			    <a href="{{fluxograma.link}}" target="_blank">Disciplina</a>
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-heading painel-individual" data-toggle="collapse" data-target="#optativa3" aria-expanded="false" ng-class="{'optativa-dependencia': optativaAcionada3, 'optativa-sem-dependencia': !optativaAcionada3}">
				  <h3 class="panel-title heading-optativas quebra-linha" >Optativa3</h3>  
				  <ul class="list-group lista-optativas collapse" id="optativa3">
				  	<li ng-repeat="optativa in optativas3" tabindex="-1" ng-blur="blur()" class="list-group-item fonte-painel quebra-linha link_holder" ng-class="{'classe-dependencias': optativa.dependenciaAcionada, 'sem-dependencias': !optativa.dependenciaAcionada, 'selecionado': fluxograma.opcaoSelecionada}" ng-click="obterDependenciasOptativas(optativa, $event)">{{optativa.titulo}}
				  	<a href="{{optativa.link}}" target="_blank">Disciplina</a></li>
				  </ul>
				</div>
			</div>
		</div>

		<!-- nono período -->
		<div class="painel-dependencias">
			<div class="panel panel-default titulos-dependencias">
			  <div class="panel-footer titulo-periodo">
			    Nono
			  </div>
			</div>

			<div ng-repeat="fluxograma in fluxogramas9" class="panel panel-default" tabindex="-1" ng-blur="blur()" ng-click="obterDependencias(fluxograma)">
			  <div class="panel-footer painel-individual quebra-linha link_holder" ng-class="{'classe-dependencias': fluxograma.dependenciaAcionada, 'sem-dependencias': !fluxograma.dependenciaAcionada, 'selecionado': fluxograma.opcaoSelecionada}">
			    <p class="fonte-painel">{{fluxograma.titulo}}</p>
			    <a href="{{fluxograma.link}}" target="_blank">Disciplina</a>
			  </div>
			</div>
		</div>
	</div>

</body>
</html>
